* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding: 5px;
  width: 100%;
}

.container {
  /* background-color: white; */
  border: 1px solid red;
  padding: 30px 20px 30px 20px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.quoteHeading {
  text-align: center;
  margin-bottom: 50px;
  color: #333;
  font-size: 2.8rem;
  text-shadow:
    2px 2px 8px #ff0000,
    0 0 10px #ff4d4d,
    0 0 2px #ff0000;
}

.quotebox {
  margin-bottom: 20px;
  min-height: 100px;
  position: relative;
}

.quote {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
  transition: opacity 0.3s ease;
}

.author {
  font-style: italic;
  color: brown;
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
}

.newquote {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #2ebf91;
  color: black;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.newquote:hover {
  background-color: #249b77;
}


.category {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #666;
  font-weight: bold;
}
.restart {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f25c54;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
}

.restart:hover {
  background-color: #d94c45;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive design */
@media (min-width: 768px) {
  .container {
    padding: 20px;
    width: 1000px;
  }

  h1 {
    font-size: 9rem;
  }
.author{
  font-size: 30px;
}
.category{
  font-size: 20px;
} 
.quote {
    font-size: 28px;
  }

  .newquote, .restart {
    width: 100%;
    font-size: 1.2rem;
  }


}
